
h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome {
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Bahnschrift;
}

form {
    max-width: 500px;
    margin: 10px 40%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    font-family: "Lato";
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.chatwrapper,
#loginform {

    font-weight: bold;
    font-family: Bahnschrift;
    margin: 50px auto;
    padding-bottom: 0px;
    background-image: linear-gradient(60deg, #3353d3, #220f4b);
    max-width: 100%;
    border-radius: 50px;
}

#loginform {
    padding-top: 18px;
    text-align: center;
}

#loginform p {
    padding: 10px 0px;
    font-size: 1.4rem;
    font-weight: bold;
}

#chatbox {

    font-weight: bold;
    font-family: Bahnschrift;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background-image: linear-gradient(60deg, #4daebe, #5b08c9);
    height: 300px;
    width: 530px;
    overflow: auto;
    border-radius: 4px;

}

#usermsg {
    width: 395px;
    height: 30px;
    flex: 1;
    border: 1px solid #000000;
    font-size: 1.2rem;
    font-family: Bahnschrift;
}

#name {
    border-radius: 4px;
    border: 1px solid #ffffff;
    padding: 2px 8px;
}

#submitmsg,
#enter{
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    font-family: Bahnschrift;
}

.error {
    color: #ff0000;
}

#chatmenu {
    font-family: Bahnschrift;
    padding: 15px 40%;
    display: flex;

}

#chatmenu p.welcome {
    flex: 1;
}

a#exit {
    color: white;
    background: #c62828;
    padding: 12px 10px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    justify-content: center;
    display: flex;
    max-width: 100px;
}

.msgln {
    margin: 0 0 5px 0;
    width: 300px;
}

.msgln span.left-info {
    color: orangered;
}

.msgln span.chat-time {
    color: #ffffff;
    font-size: 60%;
    font-weight: bold;
    vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #6e0000;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
}

.msgln b.user-name-left {
    background: #000000;
    font-family: Bahnschrift;
    font-style: italic;
}

.chatwrapper,
#loginform {
    --border-width: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}
.chatwrapper,
#loginform::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 2s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}




