.global {
    background-image: linear-gradient(135deg, #8900FA, #0985CC);
    color: black;
    padding-top: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
}
/* TEL EMAIL LOC. COLOR */
.col strong {
    /* color: rgb(218, 113, 9); */
    color: #9b9b9b;
}
/* power of memory columns COLOR ON HOVER */
.col2 a:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-image: linear-gradient(135deg, #56009b, #1d00d7);
    border-radius: 20px;
    padding-inline: 10px 15px;
    transition-duration: 100ms;
}

/* COPYRIGHT COLOR */
.global > .row > .col > .copy{
   margin-top: 70px;
   font-size: 1rem;
   color: #ffffff;
}
.global p, i {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

.global ul {
    padding-left: 0%;
    list-style: none;
}

.global ul li {
    list-style-position: inside;
    margin-top: 15px;
}
/* power of memory columns COLOR */
.global a {
    color: #000000;
    text-decoration: none;
}

.global ul li::before {
    content: "◼︎";
    color: black
}

.row {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/* TITLES COLOR */
.row h1 {
    color: #ffffff;
}
