#signUp {
    display: flex;
    justify-content: center;
    color: hsl(207, 90%, 72%);
    font-family: Bahnschrift;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

.acc {
    text-align: center;
    color:hsl(207, 90%, 72%);
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

.acc a {
    margin-left: 6px;
    text-decoration: none;
    transition: 0.5s;
}

.acc a:hover {
    color: hsl(207, 90%, 72%);
}

input[type=submit] {
    font-weight: bold;
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    width: 100px;
    padding: 1% 1%;
    margin: 0% 3% 3% 27%;;
    border: solid #ffffff;
    border-width: 3px 3px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=reset] {
    font-weight: bold;
    background-image: linear-gradient(to left, #0fe4f3, #6c10c5);
    color: black;
    width: 100px;
    padding: 1% 1%;
    margin: 0% 3% 3% 2%;;
    border: solid #ffffff;
    border-width: 3px 3px;
    cursor: pointer;
    margin-top: 10px;
}

#btn:hover {
    color: hsl(207, 90%, 72%);
    background-color: hsl(221deg 46% 8%);
    transition: 0.5s;
    border-radius: 10%;
}

body {
    justify-content: center;

}
.register_wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    display: block;
    color: hsl(207, 90%, 72%);
    font-family: Bahnschrift;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: rgb(39, 39, 112);
    padding: 40px 20px 40px 20px;
    border-radius: 9%;
}


.txtfillin {
    display: flex;
    justify-content: center;
    color: hsl(207, 90%, 72%);
    font-family: Bahnschrift;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.form-group > label {
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.form-group > .labelconpass {
    margin-top: 0px;
}


#labelconpass {
    width: 76px;
}


.form-group {
    display: flex;
    color: hsl(207, 90%, 72%);
    font-family: Bahnschrift;
    font-size: 20px;
    
}

.form-submit {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

#formuser {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: #ffffff;
    padding: 1% 1%;
    margin: 1% 1%;
    border: solid #ffffff;
    border-width: 3px 3px;
}

#formpass {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    padding: 1% 1%;
    margin: 1% 1%;
    border: solid #ffffff;
    border-width: 3px 3px;
    margin-left: 8px;

}

#formconpass {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    padding: 1% 1%;
    margin: 1% 1%;
    border: solid #ffffff;
    border-width: 3px 3px;
    margin-left: 8px;
}

#subbtn {
    font-weight: bold;
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    width: 100px;
    padding-left:8px ;
    border: solid #ffffff;
    border-width: 3px 3px;
    width: 200px;
    height: 40px;
}

.form-password {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

.alert-danger {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
    color: red;
}

.signup {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

.invalid-feedback-user {
    justify-content: center;
    padding-left: 10px;
    margin-top: 15px;
    font-family: Bahnschrift;
    font-size: 15px;
    color: red;
}
.invalid-feedback-pass {
    justify-content: center;
    padding-left: 10px;
    margin-top: 17px;
    font-family: Bahnschrift;
    font-size: 15px;
    color: red;
}

.invalid-feedback-conpass {
    justify-content: center;
    padding-left: 10px;
    margin-top: 5px;
    font-family: Bahnschrift;
    font-size: 15px;
    color: red;
}

form {
    padding: auto;
}

a {
    color: white;
}



