

p {
    margin: 10px 30px;
    font-size: 2.5rem;
}
.acc {
    text-align: center;
    color: #f00;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0 0 50%;
}

#btn {
    background-color: #f00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px 0 0 50%;
}
body {
    justify-content: center;

}
.register_wrapper {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    display: flex;
    border: 2px solid white;
    color: white;
    font-family: Bahnschrift;
}


.txtfillin {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Bahnschrift;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

#labeluser {
    margin: 25px 5px 5px 10px;
    padding: 0px 0px 0px 30%;
}

#labelpass {
    margin: 25px 5px 5px 10px;
    padding: 0px 0px 0px 30%;
}

#labelconpass {
    margin: 25px 5px 5px 10px;
    padding: 0px 0px 0px 30%;
}


.form-group {
    justify-content: center;
    display: flex;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 20%;
}

.form-submit {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

#formuser {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: #ffffff;
    padding: 10px 10px;
    margin: 10px 10px;
    border: solid #ffffff;
    border-width: 3px 3px;

}
#formpass {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    padding: 10px 10px;
    margin: 10px 10px;
    border: solid #ffffff;
    border-width: 3px 3px;

}

#formconpass {
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    padding: 10px 10px;
    margin: 10px 10px;
    border: solid #ffffff;
    border-width: 3px 3px;

}

#subbtn {
    font-weight: bold;
    background-image: linear-gradient(to right, #0fe4f3, #6c10c5);
    color: black;
    width: 100px;
    padding: 1% 1%;
    margin: 1% 1%;;
    border: solid #ffffff;
    border-width: 3px 3px;
}

.form-password {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

.alert-danger {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
    color: red;
}

.signup {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
}

.invalid-feedback-user {

    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
    color: red;

}
.invalid-feedback-pass {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
    color: red;
}

.invalid-feedback-conpass {
    justify-content: center;
    display: flex;
    font-family: Bahnschrift;
    font-size: 20px;
    color: red;
}